<div class="content" *ngIf="podcast != null">
  <mat-toolbar>
    <button mat-icon-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
    <img src="{{podcast.imageUrl}}" width="48" height="48">
    <h1>{{podcast.title}}</h1>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" (click)="subscribe()">Subscribe</button>
    <button mat-raised-button (click)="refresh()">Refresh</button>
  </mat-toolbar>
  <p>{{podcast.description}}</p>
  <mat-list>
    <mat-list-item *ngFor="let ep of podcast.episodes">
      <div mat-list-icon class="date">
        <div>{{formatDate(ep.pubDate)}}<br/></div>
      </div>
      <h4 mat-line>{{ep.title}}</h4>
      <p mat-line>{{ep.description}}</p>
      <button mat-icon-button (click)="play(ep)">
        <mat-icon>play_circle_filled</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
