<div class="content" *ngIf="podcast != null">
  <mat-toolbar>
    <button mat-icon-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
    <img src="{{podcast | podcastImageUrl:48}}" width="48" height="48">
    <h1>{{podcast.title}}</h1>
    <div class="spacer"></div>
    <button *ngIf="!podcast.isSubscribed" mat-raised-button color="primary" (click)="subscribe()">Subscribe</button>
    <button *ngIf="podcast.isSubscribed" mat-raised-button (click)="unsubscribe()">Unsubscribe</button>
    <button mat-raised-button (click)="refresh()">Refresh</button>
  </mat-toolbar>
  <p [innerHTML]="podcast.description | safeHtml"></p>
  <mat-list>
    <mat-list-item *ngFor="let ep of podcast.episodes">
      <div matListItemIcon class="date">
        <div>{{formatDate(ep.pubDate)}}<br/></div>
      </div>
      <h4 matListItemTitle (click)="showEpisodeDetails(ep)" class="ep-title">{{ep.title}}</h4>
      <p matListItemLine>{{ep.shortDescription}}</p>
      <div matListItemMeta class="episode-actions">
        <span *ngIf="isInProgress(podcast, ep)" class="episode-progress">{{ formatTime(ep.position) }}</span>
        <span *ngIf="ep.duration > 0" class="episode-duration">
          <ng-container *ngIf="isInProgress(podcast, ep)"> / </ng-container>
          {{ formatTime(ep.duration) }}
        </span>
        <button mat-icon-button class="action-button" (click)="play(ep)">
          <mat-icon>play_circle_filled</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
