
.content {
  width: 800px;
  margin: 10px auto;
}

h1 {
  margin-left: 10px;
}

mat-toolbar button {
  margin-left: 10pt;
}

p {
  font-family: roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex-grow: 1;
}

.mat-list .mat-list-item .mat-list-icon.date {
  display: flex;
  font-size: 14px;
  height: 72px;
  flex-direction: row;
  align-items: center;
}
.mat-list-icon.date div {
  text-align: center;
}

h4.ep-title {
  cursor: pointer;
}
