<section class="content">
  <mat-tab-group>
    <mat-tab label="New episodes">
      <mat-list>
        <mat-list-item *ngFor="let ep of newEpisodes" mat-ripple>
          <img matListItemIcon class="podcast-icon" src="{{ep.podcast | podcastImageUrl:48}}" width="48">
          <div matListItemIcon class="date">
            <div>{{formatDate(ep.episode.pubDate)}}<br/></div>
          </div>
          <h4 matListItemTitle class="ep-title" (click)="showEpisodeDetails(ep.podcast, ep.episode)">{{ep.episode.title}}</h4>
          <p matListItemLine>{{ep.episode.shortDescription}}</p>
          <button matListItemMeta mat-icon-button class="action-button" (click)="play(ep.podcast, ep.episode)">
            <mat-icon>play_circle_filled</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="In progress">
      <mat-list>
        <mat-list-item *ngFor="let ep of inProgress" mat-ripple>
          <img matListItemIcon class="podcast-icon" src="{{ep.podcast | podcastImageUrl:48}}" width="48">
          <div matListItemIcon class="date">
            <div>{{formatDate(ep.episode.pubDate)}}<br/></div>
          </div>
          <h4 matListItemTitle class="ep-title" (click)="showEpisodeDetails(ep.podcast, ep.episode)">{{ep.episode.title}}</h4>
          <p matListItemLine>{{ep.episode.shortDescription}}</p>
          <div>{{ formatTime(ep.episode.position) }}</div>
          <button matListItemMeta mat-icon-button class="action-button" (click)="play(ep.podcast, ep.episode)">
            <mat-icon>play_circle_filled</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Podcasts">
      <mat-nav-list>
        <mat-list-item *ngFor="let sub of subscriptions" mat-ripple [routerLink]="['/podcasts', sub.podcast.id]">
          <img matListItemIcon class="podcast-icon" src="{{sub.podcast | podcastImageUrl:48}}" width="48">
          <h4 matListItemTitle>{{sub.podcast.title}}</h4>
          <p matListItemLine>{{sub.podcast.description}}</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-tab>
  </mat-tab-group>
</section>