.content {
  width: 800px;
  margin: 10px auto;
}

/*
 * This seems to be a bug in the tab body? It ends up getting a scrollbar even though it shouldn't.
 */
mat-tab-group ::ng-deep .mat-tab-body-content {
  overflow: hidden;
}

mat-icon {
  vertical-align: top;
}

.mat-list-item {
  display: relative;
}

.podcast-icon {
  width: 48px;
  height: 48px;
  border-radius: 0;
}
img.podcast-icon {
  width: 48px;
  height: 48px;
}

button.action-button.mdc-icon-button.mat-mdc-icon-button {
  margin-top: 12px;
}

.date {
  font-size: 14px;
}
.date div {
  text-align: center;
}

h4.ep-title {
  cursor: pointer;
}
