.content {
  width: 800px;
  margin: 10px auto;
}

.mat-list-item {
  display: relative;
}

.mat-list-item .mat-list-icon.podcast-icon {
  width: 48px;
  height: 48px;
  border-radius: 0;
}


.mat-list-item .mat-list-icon.date {
  display: flex;
  font-size: 14px;
  height: 72px;
  flex-direction: row;
  align-items: center;
}
.mat-list-icon.date div {
  text-align: center;
}

h4.ep-title {
  cursor: pointer;
}
