<div class="content" *ngIf="podcast">
  <mat-toolbar>
    <button mat-icon-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
    <img src="{{podcast | podcastImageUrl:48}}" width="48" height="48">
    <h1>{{podcast.title}}</h1>
    <div class="spacer"></div>
    <button *ngIf="!podcast.isSubscribed" mat-raised-button color="primary" (click)="subscribe()">Subscribe</button>
    <button *ngIf="podcast.isSubscribed" mat-raised-button (click)="unsubscribe()">Unsubscribe</button>
  </mat-toolbar>
  <p [innerHTML]="podcast.description | safeHtml"></p>
  <mat-list>
    <mat-list-item *ngFor="let ep of podcast.episodes">
      <div matListItemIcon class="date">
        <div>{{formatDate(ep.pubDate)}}<br/></div>
      </div>
      <h4 matListItemTitle (click)="showEpisodeDetails(ep)" class="ep-title">{{ep.title}}</h4>
      <p matListItemLine>{{ep.shortDescription}}</p>
      <div *ngIf="isInProgress(podcast, ep)">{{ formatTime(ep.position) }}</div>
      <button matListItemMeta mat-icon-button class="action-button" (click)="play(ep)">
        <mat-icon>play_circle_filled</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>